.card {
    min-height: 100px;
    max-height: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: auto;
    cursor: pointer;
    height: auto;
}

.card:last-child {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 15px;
}

.descr:focus {
    outline: none;
}

.editable-textarea {
    font-weight: semibold;
    font-size: 16px;
    color: #000;
    cursor: inherit;
    border: none;
    padding: 0;
    resize: none;
    min-height: 16px;
    max-height: 200px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
    background-color: transparent;
    width: 100%;
    overflow-y: visible; 
}

.bold {
    font-weight: 600;
}

.invisible-button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
}